{
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@app/(.*)",
        "^@pages/(.*)",
        "^@widgets/(.*)",
        "^@features/(.*)",
        "^@entities/(.*)",
        "^@shared/(.*)",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindStylesheet": "src/index.css",
    "tailwindFunctions": ["cn", "cva"]
}
